In [1]:
from dotenv import load_dotenv
from pinecone import Pinecone,ServerlessSpec
import pandas as pd
import numpy as np
from pathlib import Path
import requests
import os

In [2]:
load_dotenv()

True

# DOWNLOADING DATA

In [3]:
root_dir = Path.cwd().parent # Creating a folder to store the trading data csv
market_data_dir = root_dir / "data/market"
market_data_dir.mkdir(parents=True, exist_ok=True)

In [4]:
response = requests.get(os.getenv("TRADING_DATA_URL"),stream=True)
response

In [5]:
with open(market_data_dir / "instrument.csv","wb") as f:
    for chunk in response.iter_content(chunk_size=5000):
        f.write(chunk)

# EDA DATA

In [6]:
df = pd.read_csv(market_data_dir / "instrument.csv")
df.head()

C:\Users\raksh\AppData\Local\Temp\ipykernel_12256\3519964839.py:1: DtypeWarning: Columns (1,4,7,8,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(market_data_dir / "instrument.csv")

,exchange,exchange_token,trading_symbol,groww_symbol,name,instrument_type,segment,series,isin,underlying_symbol,...,expiry_date,strike_price,lot_size,tick_size,freeze_quantity,is_reserved,buy_allowed,sell_allowed,internal_trading_symbol,is_intraday
0,NSE,67648,360ONE25NOV860CE,NSE-360ONE-25Nov25-860-CE,NaN,CE,FNO,NaN,NaN,360ONE,...,2025-11-25,860.0,500.0,0.05,20001.0,1.0,1,1,360ONE25NOV860CE,0
1,NSE,61099,360ONE26JAN1160PE,NSE-360ONE-27Jan26-1160-PE,NaN,PE,FNO,NaN,NaN,360ONE,...,2026-01-27,1160.0,500.0,0.05,20001.0,0.0,1,1,360ONE26JAN1160PE,0
2,NSE,67672,360ONE25NOV1180CE,NSE-360ONE-25Nov25-1180-CE,NaN,CE,FNO,NaN,NaN,360ONE,...,2025-11-25,1180.0,500.0,0.05,20001.0,0.0,1,1,360ONE25NOV1180CE,0
3,NSE,54320,360ONE25NOV920CE,NSE-360ONE-25Nov25-920-CE,NaN,CE,FNO,NaN,NaN,360ONE,...,2025-11-25,920.0,500.0,0.05,20001.0,0.0,1,1,360ONE25NOV920CE,0
4,NSE,67700,360ONE25DEC840PE,NSE-360ONE-30Dec25-840-PE,NaN,PE,FNO,NaN,NaN,360ONE,...,2025-12-30,840.0,500.0,0.05,20001.0,1.0,1,1,360ONE25DEC840PE,0

In [7]:
df.tail()

,exchange,exchange_token,trading_symbol,groww_symbol,name,instrument_type,segment,series,isin,underlying_symbol,...,expiry_date,strike_price,lot_size,tick_size,freeze_quantity,is_reserved,buy_allowed,sell_allowed,internal_trading_symbol,is_intraday
105068,NSE,NIFTYMEDIA,NIFTYMEDIA,NSE-NIFTYMEDIA,Nifty Media Index,IDX,CASH,NaN,NIFTYMEDIA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0
105069,NSE,NIFTYTOTALMCAP,NIFTYTOTALMCAP,NSE-NIFTYTOTALMCAP,Nifty Total Market,IDX,CASH,NaN,NIFTYTOTALMCAP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0
105070,BSE,1,SENSEX,BSE-SENSEX,SENSEX,IDX,CASH,NaN,SENSEX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0
105071,BSE,2,BSE100,BSE-BSE100,Bse 100,IDX,CASH,NaN,BSE100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0
105072,BSE,14,BANKEX,BSE-BANKEX,BANKEX,IDX,CASH,NaN,BANKEX,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105073 entries, 0 to 105072
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   exchange                   105073 non-null  object
 1   exchange_token             105073 non-null  object
 2   trading_symbol             105073 non-null  object
 3   groww_symbol               105073 non-null  object
 4   name                       12606 non-null   object
 5   instrument_type            105073 non-null  object
 6   segment                    105073 non-null  object
 7   series                     12572 non-null   object
 8   isin                       12607 non-null   object
 9   underlying_symbol          92466 non-null   object
 10  underlying_exchange_token  92466 non-null   float64
 11  expiry_date                92466 non-null   object
 12  strike_price               92466 non-null   float64
 13  lot_size                   105052 non-null  float64
 14  tick_size                  105052 non-null  float64
 15  freeze_quantity            92466 non-null   float64
 16  is_reserved                92466 non-null   float64
 17  buy_allowed                105073 non-null  int64
 18  sell_allowed               105073 non-null  int64
 19  internal_trading_symbol    105052 non-null  object
 20  is_intraday                105073 non-null  int64
dtypes: float64(6), int64(3), object(12)
memory usage: 16.8+ MB

In [9]:
df["segment"].value_counts() ,df["exchange"].value_counts() , df["instrument_type"].value_counts()

(segment
 FNO     92466
 CASH    12607
 Name: count, dtype: int64,
 exchange
 NSE    91796
 BSE    13277
 Name: count, dtype: int64,
 instrument_type
 PE     45905
 CE     45901
 EQ     12586
 FUT      660
 IDX       21
 Name: count, dtype: int64)

# Creating data/artifacts

In [10]:
artifact_dir = root_dir / "data/artifacts"
artifact_dir.mkdir(parents=True, exist_ok=True)

In [11]:
eq_df = df[df["instrument_type"] == "EQ"].copy()
print(f"EQ records: {len(eq_df)}")
idx_df = df[df["instrument_type"] == "IDX"].copy()
print(f"IDX records: {len(idx_df)}")
fno_df = df[df["instrument_type"].isin(["PE", "CE", "FUT"])].copy()
print(f"FNO records (PE+CE+FUT): {len(fno_df)}")

EQ records: 12586
IDX records: 21
FNO records (PE+CE+FUT): 92466

In [13]:
raw_dir = artifact_dir / "raw"
raw_dir.mkdir(parents=True, exist_ok=True)

In [14]:
# Save EQ data
eq_file = raw_dir / "EQ.csv"
eq_df.to_csv(eq_file, index=False)
print(f"Saved EQ data: {eq_file} ({len(eq_df)} records)")

# Save IDX data
idx_file = raw_dir / "IDX.csv"
idx_df.to_csv(idx_file, index=False)
print(f"Saved IDX data: {idx_file} ({len(idx_df)} records)")

# Save FNO data
fno_file = raw_dir / "FNO.csv"
fno_df.to_csv(fno_file, index=False)
print(f"Saved FNO data: {fno_file} ({len(fno_df)} records)")

print(f"\n All processed files saved to: {raw_dir}")

Saved EQ data: d:\Work\groww-trader\data/artifacts\raw\EQ.csv (12586 records)
Saved IDX data: d:\Work\groww-trader\data/artifacts\raw\IDX.csv (21 records)
Saved FNO data: d:\Work\groww-trader\data/artifacts\raw\FNO.csv (92466 records)

 All processed files saved to: d:\Work\groww-trader\data/artifacts\raw

# Processing RAW Data

In [15]:
pd = pd.read_csv(raw_dir / "EQ.csv")
pd.head()

,exchange,exchange_token,trading_symbol,groww_symbol,name,instrument_type,segment,series,isin,underlying_symbol,...,expiry_date,strike_price,lot_size,tick_size,freeze_quantity,is_reserved,buy_allowed,sell_allowed,internal_trading_symbol,is_intraday
0,NSE,20784,1050ISFL28,NSE-1050ISFL28,Sec Re NCD 10.50% Sr 6,EQ,CASH,N5,INE413U07251,NaN,...,NaN,NaN,1.0,0.01,NaN,NaN,0,1,1050ISFL28-N5,0
1,NSE,7975,1015ECL29,NSE-1015ECL29,1015EFL29,EQ,CASH,NR,INE804IA7014,NaN,...,NaN,NaN,1.0,0.01,NaN,NaN,0,1,1015ECL29-NR,0
2,NSE,25914,1025UCL26A,NSE-1025UCL26A,UCL-10.25%-24-10-26-NCD,EQ,CASH,N1,INE583D07521,NaN,...,NaN,NaN,1.0,0.01,NaN,NaN,0,1,1025UCL26A-N1,0
3,NSE,23704,0MOFSL27,NSE-0MOFSL27,0MOFSL27,EQ,CASH,N3,INE338I07099,NaN,...,NaN,NaN,1.0,0.01,NaN,NaN,0,1,0MOFSL27-N3,0
4,NSE,756004,1050UCL28,NSE-1050UCL28,UCL-10.50%-24-10-28-NCD,EQ,CASH,NH,INE583D07596,NaN,...,NaN,NaN,1.0,0.01,NaN,NaN,0,1,1050UCL28-NH,0

In [16]:
pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12586 entries, 0 to 12585
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   exchange                   12586 non-null  object
 1   exchange_token             12586 non-null  int64
 2   trading_symbol             12586 non-null  object
 3   groww_symbol               12586 non-null  object
 4   name                       12585 non-null  object
 5   instrument_type            12586 non-null  object
 6   segment                    12586 non-null  object
 7   series                     12572 non-null  object
 8   isin                       12586 non-null  object
 9   underlying_symbol          0 non-null      float64
 10  underlying_exchange_token  0 non-null      float64
 11  expiry_date                0 non-null      float64
 12  strike_price               0 non-null      float64
 13  lot_size                   12586 non-null  float64
 14  tick_size                  12586 non-null  float64
 15  freeze_quantity            0 non-null      float64
 16  is_reserved                0 non-null      float64
 17  buy_allowed                12586 non-null  int64
 18  sell_allowed               12586 non-null  int64
 19  internal_trading_symbol    12586 non-null  object
 20  is_intraday                12586 non-null  int64
dtypes: float64(8), int64(4), object(9)
memory usage: 2.0+ MB

In [18]:
eq_df_cleaned = eq_df.dropna(axis=1, how='all')
eq_df_cleaned.head()

,exchange,exchange_token,trading_symbol,groww_symbol,name,instrument_type,segment,series,isin,lot_size,tick_size,buy_allowed,sell_allowed,internal_trading_symbol,is_intraday
92466,NSE,20784,1050ISFL28,NSE-1050ISFL28,Sec Re NCD 10.50% Sr 6,EQ,CASH,N5,INE413U07251,1.0,0.01,0,1,1050ISFL28-N5,0
92467,NSE,7975,1015ECL29,NSE-1015ECL29,1015EFL29,EQ,CASH,NR,INE804IA7014,1.0,0.01,0,1,1015ECL29-NR,0
92468,NSE,25914,1025UCL26A,NSE-1025UCL26A,UCL-10.25%-24-10-26-NCD,EQ,CASH,N1,INE583D07521,1.0,0.01,0,1,1025UCL26A-N1,0
92469,NSE,23704,0MOFSL27,NSE-0MOFSL27,0MOFSL27,EQ,CASH,N3,INE338I07099,1.0,0.01,0,1,0MOFSL27-N3,0
92470,NSE,756004,1050UCL28,NSE-1050UCL28,UCL-10.50%-24-10-28-NCD,EQ,CASH,NH,INE583D07596,1.0,0.01,0,1,1050UCL28-NH,0

In [19]:
eq_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12586 entries, 92466 to 105051
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   exchange                 12586 non-null  object
 1   exchange_token           12586 non-null  object
 2   trading_symbol           12586 non-null  object
 3   groww_symbol             12586 non-null  object
 4   name                     12585 non-null  object
 5   instrument_type          12586 non-null  object
 6   segment                  12586 non-null  object
 7   series                   12572 non-null  object
 8   isin                     12586 non-null  object
 9   lot_size                 12586 non-null  float64
 10  tick_size                12586 non-null  float64
 11  buy_allowed              12586 non-null  int64
 12  sell_allowed             12586 non-null  int64
 13  internal_trading_symbol  12586 non-null  object
 14  is_intraday              12586 non-null  int64
dtypes: float64(2), int64(3), object(10)
memory usage: 1.5+ MB

In [22]:
eq_df_cleaned["buy_allowed"].value_counts() , eq_df_cleaned["sell_allowed"].value_counts()

(buy_allowed
 1    8335
 0    4251
 Name: count, dtype: int64,
 sell_allowed
 1    12586
 Name: count, dtype: int64)

In [23]:
processed_dir = artifact_dir / "processed"
processed_dir.mkdir(parents=True, exist_ok=True)

In [24]:
eq_df_cleaned.to_csv(processed_dir / "EQ.csv", index=False)